<div class="container">
  <div class="profile_question">
    <div class="welcome-question question-card" id="question-0">
      <h3 class="question-header">To allow us to understand your needs, please answer a few recomendations.</h3>
    </div>
    <%= simple_form_for :questions, url: set_session_questions_path do |f|  %>

    <div class="question question-card" id="question-1">
      <%= f.input :employment_status,
        label: false,
        input_html: {
          placeholder: "Employed",
          class: "input-field, hidden",
          id: "employment-input"
          }%>
      <h3 id="header">Please select which employment status applies to you?</h3>
      <div class="buttons-container-questions flex-container">
        <div class="btn question-button employment-status">Employed</div>
        <div class="btn question-button employment-status">Self-employed</div>
        <div class="btn question-button employment-status">Unemployed</div>
        <div class="btn question-button employment-status">Student</div>
      </div>
    </div>

    <div class="question question-card" id="question-2">
      <%= f.input :annual_gross_income_range,
        input_html: {
          placeholder: "yes/no",
          class: "input-field",
          id: "income-input"
          }%>
      <h3>Will you have a gross salary of more than 62,550€ once living in Germany</h3>
      <div class="buttons-container-questions flex-container">
        <div class="btn question-button"> Yes </div>
        <div class="btn question-button"> No </div>
      </div>
    </div>

    <div class="question question-card" id="question-3">
      <%= f.input :german_level,
        input_html: {
          placeholder: "Beginner",
          class: "input-field",
          id: "german-level"
          }%>
      <h3>What is your Germal language level?</h3>
      <div class="buttons-container-questions flex-container">
        <div class="btn question-button"> Begginner </div>
        <div class="btn question-button"> Intermediate </div>
        <div class="btn question-button"> Advanced </div>
      </div>
    </div>

    <div class="question question-card" id="question-4">
      <%= f.input :email,
        input_html: {
          placeholder: "s.mayer@example.de",
          class: "input-field" }
          %>
    </div>

    <div class="question question-card" id="question-5">
      <%= f.input :address,
        input_html: {
          autocomplete: "address",
          id: "user_address",
          placeholder: "Herbertstraße 13, Berlin, 10123",
          class: "input-field" }
          %>
    </div>

    <div class="question question-card" id="question-6">
      <%= f.input :phone_number,
        input_html:{
          placeholder: "+49 123 45678912",
          class: "input-field"
        } %>
    </div>

    <div class="question question-card" id="question-7">
      <%= f.input :arrival_date,
        input_html: {
          type: 'date',
          class: 'input-field' } %>
    </div>

    <div class="question question-card" id="question-8">
      <%= f.input :duration,
        input_html: {
          placeholder: "3 Months / Years",
          class: "input-field",
          id: "duration-input"
        } %>
      <h3>What is the planned duration of your stay in Berlin?</h3>
      <div class="buttons-container-questions flex-container">
        <div class="btn question-button"> Less than 1 year </div>
        <div class="btn question-button"> 1 year more </div>
      </div>
    </div>

    <div class="question question-card" id="question-10">
      <%= f.input :date_of_birth,
        input_html: {
          type: 'date',
          class: 'input-field' } %>
    </div>

    <div class="question question-card" id="submit">
      <h3 class="question-header">Thank you for completing the question, please submit to register and receive your answers</h3>
      <%= f.submit class: "btn btn-flat submit-btn", value: "Submit my questions" %>
    </div>
    <% end %>
    <div class="question-nav-buttons" id="button-container">
      <button class="btn-flat btn next-btn" id="next-btn">Next Question</button>
      <button class="btn-flat btn last-btn btn-hollow question" id="back-btn">Previous Question</button>
    </div>
  </div>
</div>
