<div class="container">
  <div class="profile_question">
    <div class="welcome-question question-card" id="question-0">
      <h3 class="question-header">To allow us to understand you better, please answer a few questions...</h3>
    </div>
    <%= simple_form_for :questions, url: set_session_questions_path do |f|  %>

    <div class="question question-card" id="question-1">
      <%= f.input :employment_status,
        label: false,
        input_html: {
          placeholder: "Employed",
          class: "input-field, hidden",
          id: "employment-input"
          }%>
      <h3 class="question-header">What is your emplyment status?</h3>
      <div class="buttons-container-questions flex-container">
        <div class="btn question-button">Employed</div>
        <div class="btn question-button">Self-employed</div>
        <div class="btn question-button">Unemployed</div>
        <div class="btn question-button">Student</div>
      </div>
    </div>

    <div class="question question-card" id="question-2">
      <%= f.input :annual_gross_income_range,
        label: false,
        input_html: {
          placeholder: "yes/no",
          class: "input-field, hidden",
          id: "income-input"
          }%>
      <h3 class="question-header">Will your gross salary be more than €62,550?</h3>
      <div class="buttons-container-questions flex-container">
        <div class="btn question-button"> Yes </div>
        <div class="btn question-button"> No </div>
      </div>
    </div>

    <div class="question question-card" id="question-3">
      <%= f.input :german_level,
        label: false,
        input_html: {
          placeholder: "Beginner",
          class: "input-field, hidden",
          id: "german-level"
          }%>
      <h3 class="question-header">What is your German language level?</h3>
      <div class="buttons-container-questions flex-container">
        <div class="btn question-button"> Beginner </div>
        <div class="btn question-button"> Intermediate </div>
        <div class="btn question-button"> Advanced </div>
      </div>
    </div>

    <div class="question question-card" id="question-4">
      <%= f.input :email, :label_html => { :class => 'question-header' },
        input_html: {
          placeholder: "s.mayer@example.de",
          class: "input-field" }
          %>
    </div>

    <div class="question question-card" id="question-5">
      <%= f.input :address, :label_html => { :class => 'question-header' },
        input_html: {
          autocomplete: "address",
          id: "user_address",
          placeholder: "Herbertstraße 13, Berlin, 10123",
          class: "input-field" }
          %>
    </div>

    <div class="question question-card" id="question-6">
      <%= f.input :phone_number, :label_html => { :class => 'question-header' },
        input_html:{
          placeholder: "+49 123 45678912",
          class: "input-field"
        } %>
    </div>

    <div class="question question-card" id="question-7">
      <%= f.input :arrival_date, :label_html => { :class => 'question-header' },
        input_html: {
          type: 'date',
          class: 'input-field' } %>
    </div>

    <div class="question question-card" id="question-8">
      <%= f.input :duration, :label_html => { :class => 'question-header' },
        input_html: {
          label: false,
          placeholder: "3 Months / Years",
          class: "input-field, hidden",
          id: "duration-input"
        } %>
      <h3 class="question-header">Is your planned stay longer than 1 year?</h3>
      <div class="buttons-container-questions flex-container">
        <div class="btn question-button"> Yes </div>
        <div class="btn question-button"> No </div>
      </div>
    </div>

    <div class="question question-card" id="question-10">
      <%= f.input :date_of_birth, :label_html => { :class => 'question-header' },
        input_html: {
          type: 'date',
          class: 'input-field' } %>
    </div>

    <div class="question question-card" id="submit">
      <h3 class="question-header">Thank you for your answers! Please submit to continue.</h3>
      <%= f.submit class: "btn btn-flat submit-btn", value: "SUBMIT" %>
    </div>
    <% end %>
    <div class="question-nav-buttons" id="button-container">
      <button class="btn-flat btn next-btn" id="next-btn">NEXT QUESTION</button>
      <button class="btn-flat btn last-btn btn-hollow question" id="back-btn">PREVIOUS QUESTION</button>
    </div>
  </div>
</div>
