<h1>Hello</h1>
<%= form_for :users do |f| %>
<%= f.hidden_field name: "_method", value: "patch" %>
<%= f.input :first_name %>
<%= f.input :last_name %>
<%= f.input :email, input_html: {value: @user.email} %>
<%= f.input :password %>
<%= f.submit %>

<% end %>
