<div class="grid-body">

  <div class="container column-left">
    <h1 class="registration-offices-header-text">Registration Offices in Berlin</h1>
    <p>Please choose your desired office for your registration in Berlin:</p>
      <ul>
        <% @registration_offices.each_with_index do |registration_office, index| %>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-flat-even" data-toggle="modal" data-target="#exampleModal<%= index %>">
              <%= registration_office.office_name %>
            </button>
          </li>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal<%= index %>" tabindex="-1" role="dialog" aria-labelledby="<%= index %>" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="example"> Please choose a free appointment with <%= registration_office.office_name %> and confirm with "Book"</h5>

                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>

                </div>

                <div class="modal-body text-center">
                  <% registration_office.appointments.each do |appointment| %>
                    <% if appointment.not_booked? %>
                      <%= simple_form_for appointment do |f| %>
                        <%# input type="checkbox" id="appointment" class="btn btn-flat-even"> <%= appointment.date.strftime('%A, %d %b, %l:%M %p')%>
                        <%= f.button :submit, value: appointment.date.strftime('%A, %d %b, %l:%M %p'), class: 'btn btn-flat-even' %>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-flat" data-dismiss="modal">Close</button>
                  <%= link_to(req_index_path) do %>
                    <button type="button" class="btn btn-gradient-yellow">Book</button>
                  <% end %>
                </div>

              </div>
            </div>
          </div>
        <% end %>
      </ul>
  </div>

  <div class="container column-right">
    <h1>CONTAINER FOR THE MAP</h1>
  </div>

</div>

<%#= simple_form_for appointment, data: {confirm: 'Are you sure you want to book this appointment?'} do |f| %>
