<div class="grid-body">

  <div class="container column-left">
      <h1 class="registration-office-header">Please book your appointment with:</h1>
      <div class="registration-office-details">
        <div>
          <h1><%= @registration_office.office_name %></h1>
          <p><%= @registration_office.address %></p>

          <h3>Opening Hours:</h3>
          <p>Mondays to Fridays from <%= @registration_office.opening_hours %> to <%= @registration_office.closing_hours %> o'clock</p>
      </div>
    </div>
  </div>

  <div class="container column-right">
    <ul>
      <% @appointments.each do |appointment| %>
      <li>
        <%= appointment.date %> <br>
      </li>
      <% end %>
    </ul>
  </div>
</div>
