<h1 class="page-header-text text-shadow">Health Insurance <i>(Krankenversicherung</i>) </h1>

<div class="container">
  <div class="info-paragraph">
    <p>Once you sign up for a health insurance policy in Berlin (whether private or public), you will receive an insurance card in the mail, which you have to present whenever seeking medical treatment. Health insurance covers the majority of your basic medical needs, and it is usually all you need. </p>
  </div>
</div>

<div class="container">
  <div class="results-paragraph">
    <h3>Based on your income and age, we recommend that you go with <strong><%= @type %></strong> Here are our favorite options:</h3>
  </div>
</div>

<div class="flex-container card-container">
    <% @insurance.each do |insurance| %>
      <div class="flex-container nu2-card insurance-card">
        <%= image_tag(insurance.image) %>
        <h2 class="text-shadow"><%=insurance.name %></h2>
        <p><%= insurance.summary %></p>
        <%= link_to 'Select Insurance', insurances_create_path(insurance), class: "btn-gradient-yellow" if @new %>
        <%= link_to 'Add Insurance', insurances_update_path(insurance), class: "btn-gradient-yellow", method: :patch unless @new %>
      </div>
    <% end %>
</div>

<div class="back-btn-container">
  <%= link_to "<< Back to My Tasks", req_index_path, class: "btn-back" %>
</div>
