<h2>Insurance</h2>

<p>Once you sign up for a health insurance policy in Berlin, you receive an Insurance Card, which you have to present when seeking medical attention at a doctor’s office or hospital. Health insurance covers the majority of your basic medical needs, and it is usually all you need. </p>

    <h2>Based on your WAY answers you should have <%= @type %></h2>
    <p>Please select from the following health care options below:</p>

    <div class="insurance-container">
        <% @insurance.each do |option| %>
            <div class="card-product-2">
                <%=option.name %>
                <p><%= option.summary %></p>
                <%= image_tag(option.image) %>
                <button type="button" class="btn-gradient-yellow">Choose this insurance</button>
            </div>
        <% end %>
    </div>

    <%= link_to "Back to all requirements", req_index_path %>
