<h2>Banking</h2>

<p>When moving to Germany, it is very important to have (preferably free!) access to your funds. There are few things more frustrating than incurring expensive bank transaction fees, ATM charges, and delays in money transfers. 

On top of this, having a German bank account is often an important requirement for renting an apartment, signing up for a phone/internet package and getting paid by your employer. As such, setting up a German bank account as soon as possible is definitely a priority when moving to Germany!

In Germany, there are a number of traditional banking options as well as an array of modern online banks. We have profiled a number of these below, highlighting their respective pros and cons to give you a clear idea of which is the best bank in Germany for your situation. </p>

<% duration = 11 %>
<% german_level = "Beginner" %>
<% age = 25 %>
<% net_month_income_range = 900 %>

<div>
<% if duration > 12 && german_level != "Beginner" %>
  <h3>Based on that you plan to stay long-term in berlin and you have a good grasp of the language we recommend:</h3>
  <p><%= @commerzbank.name %> as they offer comprehensive banking options. </p>
  <p><%= @commerzbank.summary %></p>

  Here are the alternatives too... 
  <p><%= @deutschebank.name %></p>
  <p><%= @n26.name %></p>

  <% elsif duration > 12 && german_level == "Beginner" %>
    <h3>Based on that you plan to stay long-term in berlin and you are still a German language beginner we recommend:</h3>
    <p><%= @deutschebank.name %> as they have excellent english customer support</p>
    <p><%= @deutschebank.summary %></p>

    Here are the alternatives too... 
    <p><%= @commerzbank.name %></p>
    <p><%= @n26.name %></p>

    <% elsif net_month_income_range > 1000 || age < 26 || german_level == "Beginner" || duration < 12 %>
      <h3>Based on your answers we recommend:</h3>
      <p><%= @n26.name %></p>
      <p><%= @n26.summary %></p>

      Here are the alternatives too... 
      <p><%= @commerzbank.name %></p>
      <p><%= @deutschebank.name %></p>

    <% end %>
</div>

  <%= link_to "<< Back to all requirements", req_index_path %>
