<h1 class="page-header-text text-shadow">Getting a Bank Account</h1>

<div class="container">
  <div class="info-paragraph">
    <p>
      When moving to Germany, it is very important to have (preferably free!) access to your funds. There are few things more frustrating than incurring expensive bank transaction fees, ATM charges, and delays in money transfers. On top of this, having a German bank account is often an important requirement for renting an apartment, signing up for a phone/internet package and getting paid by your employer. As such, setting up a German bank account as soon as possible is definitely a priority when moving to Germany! In Germany, there are a number of traditional banking options as well as an array of modern online banks. We have profiled a number of these below, highlighting their respective pros and cons to give you a clear idea of which is the best bank in Germany for your situation.
    </p>
  </div>
</div>

<div class="container">
  <div class="results-paragraph">
    <h3>Based on your <strong>planned duration of stay and language skills</strong>, we recommend the below option(s) for you.</h3>
  </div>
</div>

<div class="flex-container">
  <div class="bank-recommendation-card card-product-infos text-center">
    <h2 class="card-bank-name-inverted"><%= "Our favorite for you:" %></h2>
    <%= image_tag(@bank.image) %>
    <h2 class="card-bank-name-inverted"><%= @bank.name%></h2>
    <p class="card-bank-text-inverted"><%= @bank.summary %></p>
    <%= link_to 'Select Bank', banks_create_path(@bank), class: "btn-gradient-yellow", method: :post if @new %>
    <%= link_to 'Select Bank', banks_update_path(@bank), class: "btn-gradient-yellow", method: :patch unless @new %>
  </div>

  <% @alternative_banks.each do |bank| %>
    <div class="nu2-card card-bank card-product-infos text-center">
      <h2 class="card-bank-name"><%= "Alternative option:"%></h2>
      <%= image_tag(bank.image) %>
      <h2 class="card-bank-name"><%= bank.name%></h2>
      <p class="card-bank-text"><%= bank.summary %></p>
      <%= link_to 'Select Bank', banks_create_path(bank), class: "btn-gradient-yellow", method: :post if @new %>
      <%= link_to 'Select Bank', banks_update_path(bank), class: "btn-gradient-yellow", method: :patch unless @new %>
    </div>
  <% end %>
</div>


<div class="back-btn-container">
  <%= link_to "<< Back to Required Tasks", req_index_path, class: "btn-back" %>
</div>
