<div class="navbar navbar-expand-sm navbar-nu2">
  <%= link_to "Nü2", root_path, class: "navbar-nu2-logo" %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li>
          <% if current_user.id == 1 %>
            <%= link_to "Available Chats", chatrooms_path, class: "nav-link", style: "font-weight:bold;" %>
          <% else %>
            <div id="bot-link"> <%= image_tag "https://res.cloudinary.com/dz9aqljih/image/upload/v1630483947/nu2_images/bot4_ljor1s.png", class: "nav-link", id: "bot" %> | Help</div>
          <% end %>
        </li>
        <li>
          <%= link_to "My Portal", journey_index_path, class: "nav-link", style: "font-weight:bold;" %>
        </li>
        <li>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link", style: "font-weight:bold;" %>
        </li>
      <% else %>
        <li class="navbar-button">
          <%= link_to "Log in", new_user_session_path, class: "btn-hollow" unless @reg_flow %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
