<div class="navbar navbar-expand-sm navbar-light navbar-nu2">
  <%= link_to "Nü2", root_path, class: "navbar-nu2-logo" %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Bookings", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "My Tasks", req_index_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Help", chatroom_path(id:2), class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "bot4", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My Profile", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="navbar-button">
          <%= link_to "Log in", new_user_session_path, class: "btn-hollow" unless @reg_flow %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
