<div class="navbar navbar-expand-sm navbar-nu2">
  <%= link_to "Nü2", root_path, class: "navbar-nu2-logo" %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>

        <li>
          <%= link_to chatroom_path(id:2) do %>
          <%= image_tag "bot4", class: "nav-link", id: "bot" %>
          <% end %>
        </li>
        <li>
          <%= link_to "| Help", chatroom_path(id:2), class: "nav-link", style: "color:black;" %>
        </li>
        <li>
          <%= link_to "My Tasks", req_index_path, class: "nav-link", style: "font-weight:bold;" %>
        </li>
        <li>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link", style: "font-weight:bold;" %>
        </li>
      <% else %>
        <li class="navbar-button">
          <%= link_to "Log in", new_user_session_path, class: "btn-hollow" unless @reg_flow %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
