<div class="container">
  <h1>My Portal</h1>
  <div class="grid-container portal-grid">
    <%# <div id="progress-bar" class="journey-boxes"> %>
      <div class="progress-bar-outer">
        <span class="progress-bar-mainbar" id="main-bar">33%</span>
      </div>
    <%# </div> %>

    <div class="selected-information-box journey-boxes">
      <% if @appointment %>
        <div class="registration-information-box">
          <h4 class="task"><%= @appointment.registration_office.office_name %></h4>
          <a href="https://www.google.com/maps/place/<%= @appointment.registration_office.address %>" target="_blank"><%= @appointment.registration_office.address %></a>
          <div id="map"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
          <div class="buttons-group-user">
            <button class="user-portal-button portal-update">Update</button>
            <button class="user-portal-button portal-delete">Delete</button>
          </div>
        </div>
      <% else %>
        <p>I don't</p>
      <% end %>
    </div>

    <div class="selected-information-box">
      <div class="user-card-selected-info journey-boxes">
        <% if @bank %>
            <div class="user-card-header">
              <%= image_tag @bank.image, class: "logo-img" %>
              <p class="task"><%= @bank.name%></p>
            </div>
            <div class="details">
              <button class="user-portal-button portal-update">Update</button>
              <%= link_to 'Delete', banks_delete_path(@bank.id), class: "user-portal-button portal-delete", method: :patch %>
            </div>
        <% else %>
          <%= link_to "Choose bank", banks_path, class: "btn-gradient-purple button-span"%>
          <%= image_tag('banking.png', class: "holding-img") %>
        <% end %>
      </div>
      <div class="user-card-selected-info journey-boxes">
      <% if @insurance %>
        <div class="user-card-header">
              <%= image_tag @insurance.image, class: "logo-img" %>
              <p class="task"><%= @insurance.name%></p>
            </div>
        <div class="details">
          <button class="user-portal-button portal-update">Update</button>
          <%= link_to 'Delete', insurances_delete_path(@insurance.id), class: "user-portal-button portal-delete", method: :patch %>
        </div>
      <% else %>
        <%= link_to "Choose insurance", insurances_path, class: "btn-gradient-purple button-span"%>
        <%= image_tag('insurance3.png', class: "holding-img") %>

      <% end %>
      </div>
    </div>
  </div>
</div>
