<div class="container">
  <h1>My Portal</h1>
  <div class="grid-container portal-grid">
    <div id="progress-bar">
      This is your progress bar
    </div>
    <div class="selected-information-box">
      This is your booking information
    </div>
    <div class="selected-information-box">
      <h4>Your Bank and Insurance selections</h4>
      <div class="user-card-selected-info">
        <% if @bank %>
            <%= image_tag @bank.image %>
            <div class="details">
              <p><%= @bank.name %></p>
              <button>More information</button>
            </div>
        <% else %>
          <%= link_to "Choose a bank", banks_path  %>
        <% end %>
      </div>
      <div class="user-card-selected-info">
      <% if @insurance %>
        <%= image_tag @insurance.image %>
        <div class="details">
          <p><%= @insurance.name %></p>
          <button>More information</button>
        </div>
      <% else %>
        <%= link_to "Choose insurance", insurances_path, class: "btn-gradient-purple button-span"%>
      <% end %>
      </div>
    </div>
  </div>
</div>
