<%# BANNER %>

<div class="banner flex-container">
  <div class="home-image">
    <%= image_tag 'bureaucracy.jpg'  %>
  </div>

  <div class="banner-text-container">
    <div>
      <h1 class="text-shadow call-to-action" id="call-to-action-header">Nü2 Berlin?</h1>
      <p class="text-shadow call-to-action" id="call-to-action-text">We can help. Hack German bureaucracy with our services.</p>
      <div class="home-button-container flex-container">
        <%= link_to "GET STARTED", new_question_path, class: "btn-flat", id: "call-to-action-btn" unless current_user %> <br>
        <%= link_to "Already a member?", new_user_session_path unless current_user%>
      </div>
    </div>
  </div>
</div>

<%# CARDS ON LANDING PAGE %>
<div class="flex-container card-container">

  <div class="flex-container card-product nu2-card home-card">
    <%= image_tag 'telescope.png'  %>
    <div class="card-product-infos">
      <h2 class="text-shadow">Fulsome Support</h2>
      <ul>
        <li>City registration, banking, insurance and more! </li>
        <li>Track all information in place.</li>
      </ul>
    </div>
  </div>

  <div class="flex-container card-product nu2-card home-card">
    <%= image_tag 'ridin.png' %>
    <div class="card-product-infos">
      <h2 class="text-shadow">Fast and Free</h2>
      <ul>
        <li>Services are completely free.</li>
        <li>Book your appointments online.</li>
        <li>We're available to chat 24/7!</li>
      </ul>
    </div>
  </div>

  <div class="flex-container card-product nu2-card home-card">
    <%= image_tag 'peace.png' %>
    <div class="card-product-infos">
      <h2 class="text-shadow">Friendly Service</h2>
      <ul>
        <li>We offer customized solutions.</li>
        <li>We speak English, Mandarin, German and French!</li>
      </ul>
    </div>
  </div>

</div>

<div class="flex-container">
  <%= link_to "TAKE OUR QUIZ", new_question_path, class: "btn-back" unless current_user %>
</div>
