<%# BANNER %>

<div class="banner flex-container">
  <div class="home-image">
    <%= image_tag 'bureaucracy.jpg'  %>
  </div>

  <div class="banner-text-container">
    <div>
      <h1 class="text-shadow call-to-action" id="call-to-action-header">Nü2 Berlin?</h1>
      <p class="text-shadow call-to-action" id="call-to-action-text">We can help. Hack German bureaucracy with our services.</p>
      <div class="home-button-container flex-container">
        <%= link_to "GET STARTED", new_question_path, class: "btn-flat", id: "call-to-action-btn" unless current_user %>
        <%= link_to "Already a member?", new_user_session_path unless current_user%>
      </div>
    </div>
  </div>
</div>

<%# CARDS ON LANDING PAGE %>
<div class="flex-container card-container">

  <div class="flex-container card-product nu2-card home-card">
      <%= image_tag 'telescope.png'  %>
    <div class="card-product-infos">
        <h2 class="text-shadow">Fulsome Support</h2>
        <ul>
          <li>Address registration, insurance & bank selection, and more. </li>
          <li>Gather and keep track of all your information in one place.</li>
          <li>We've done the research so you don't have to.</li>
        </ul>
    </div>
  </div>

  <div class="flex-container card-product nu2-card home-card">
    <%= image_tag 'ridin.png' %>
    <div class="card-product-infos">
      <h2 class="text-shadow">Fast and Free</h2>
      <ul>
          <li>Our services are free - just sign up!</li>
          <li>Book appointments seamlessly through our portal.</li>
          <li>We offer 24/7 online support. Chat with us!</li>
        </ul>
    </div>
  </div>

  <div class="flex-container card-product nu2-card home-card">
    <%= image_tag 'peace.png' %>
    <div class="card-product-infos">
      <h2 class="text-shadow">Friendly Service</h2>
      <ul>
          <li>Our services are catered to your specific relocation needs.</li>
          <li>We speak English, German, Mandarin, French and Spanish.</li>
          <li>We can't wait to welcome you!</li>
        </ul>
    </div>
  </div>
</div>

<div class="flex-container">
  <%= link_to "Take our quiz!", new_user_registration_path, class: "btn-back" %>
</div>
