<div class="page-heading">
  <h2>Based on the answers you provided, here are the items you need to complete:</h3>
</div>

<div class="card-square-container">

  <div class="card-square">
    <div class="card-square-infos">
      <%= link_to "Apartment Registration", insurances_path %>
    </div>
    <div style="text-align: center">
      <%= image_tag 'apartment.png'  %>
    </div>
  </div>

  <div class="card-square">
    <div class="card-square-infos">
      <%= link_to "Health Insurance", insurances_path %>
    </div>
    <div style="text-align: center">
      <%= image_tag 'insurance5.png' %>
    </div>
  </div>

  <div class="card-square">
    <div class="card-square-infos">
      <%= link_to "Banking", banks_path %>
    </div>
    <div style="text-align:center">
      <%= image_tag 'payments.png' %>
    </div>
  </div>

  <div class="card-square">
    <div class="card-square-infos">
      <%= link_to "TV Licensing", tv_license_path %>
    </div>
    <div style="text-align:center">
      <%= image_tag 'radio.png' %>
    </div>
  </div>

</div>
