<div class="page-heading">
  <h2>Based on the answers you provided, here are the items you need to complete:</h3>
</div>

<div class="card-square-container">

  <%= link_to(registration_offices_path) do %>
    <div class="card-square">
      <h4 class="card-square-infos">Apartment Registration</h4>
      <div style="text-align: center">
        <%= image_tag 'apartment.png'  %>
      </div>
    </div>
  <% end %>

  <%= link_to(insurances_path) do %>
    <div class="card-square">
      <h4 class="card-square-infos">Health Insurance</h4>
      <div style="text-align: center">
        <%= image_tag 'insurance5.png' %>
      </div>
    </div>
  <% end %>

  <%= link_to(banks_path) do %>
    <div class="card-square">
      <h4 class="card-square-infos">Banking</h4>
      <div style="text-align:center">
        <%= image_tag 'payments.png' %>
      </div>
    </div>
  <% end %>

  <%= link_to(tv_license_path) do %>
    <div class="card-square">
      <h4 class="card-square-infos">TV Licensing</h4>
      <div style="text-align:center">
        <%= image_tag 'radio.png' %>
      </div>
    </div>
  <% end %>

</div>
