<%# content_for :meta_title, "#{@appointment.date.to_s} is on #{DEFAULT_META["meta_product_name"]}" %>
<%# content_for :meta_description, @appointment.description %>
<%# content_for :meta_image, cl_image_path(@appointment.photo.path) %>

<h1 class="page-header-text text-shadow">Thanks, your appointment was booked succesfully!</h1>
<div class="container">
  <div class="container booking-details">
    <%= image_tag 'apartment.png' %>
    <h4>Please be at <%= @appointment.registration_office.office_name %>, <%= @appointment.registration_office.address %></h4>
    <h4>on <u><%= @appointment.date.strftime('%A, %d %b, %l:%M %p') %></u> and don't forget to bring all your documents!</h4>
  </div>
</div>

<div class="back-btn-container">
      <%= link_to "<< Back to My Tasks", req_index_path, class: "btn-back" %>
</div>
